.news_cols {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.news_col_1 {
    width: 20%;
}

.news_col_4 {
    width: 80%;
}

.news_post {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.news_post_title {
    width: 100%;
    color: var(--main-color);
}

.news_post_description {
    flex: 1;
    text-align: justify;
    margin-right: 10px;
}

.news_post img {
    width: 225px;
    border-radius: 5px;
    max-width: 100%;
}