table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid;
    text-align: center;
}

.cart_icon {
    width: 36px;
    height: 36px;
    background: var(--primary-color);
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
}